@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap');

.text-font{
  font-family: 'Tiro Devanagari Hindi', serif;
}
*{
  padding: 0;
  margin: 0;
}
.Logo-img{
  width: 90px;
  height: 70px;
}