@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap');

.text-font{
  font-family: 'Tiro Devanagari Hindi', serif;
}
*{
  padding: 0;
  margin: 0;
  
}
.Logo-img{
  width: 190px;
  cursor: pointer;
  /* height: 70px; */
}
.Feature_img{
  width: 80px;
}
.bg-color{
  background-color: #E3EEE7;
}
.btn-watch{
  background-color: #30656F;
  border-radius: 5px;
  border: none;
}
.containerImages{
  background-color: #f3f4f5;
}
.img-size{
  width: 50%;
}
.btn-text{
  background-color: #30656F;
  font-family: 'Tiro Devanagari Hindi', serif;
}
.font-size{
  font-size: 5;
  color: #f3f4f5;
  font-weight: bold;
}
.inputWithIcon input[type=placeholder]{
  padding-left: 10px;
}
.inputWithIcon{
  position: relative;
}
.inputWithIcon i{
  position: absolute;
  left: 0;
  padding: 9px 8px;
  top: 8px;
}
.marginTop{
  margin-top: 30%;
  
}