@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap');

.text-font{
  font-family: 'Tiro Devanagari Hindi', serif;
}
*{
  padding: 0;
  margin: 0;
  
}
.Logo-img{
  width: 190px;
  cursor: pointer;
  /* height: 70px; */
}
.Feature_img{
  width: 80px;
}
.bg-color{
  background-color: #E3EEE7;
}
.btn-watch{
  background-color: #30656F;
  border-radius: 5px;
  border: none;
}
.containerImages{
  background-color: #f3f4f5;
}
.img-size{
  width: 50%;
}
.btn-text{
  background-color: #30656F;
  font-family: 'Tiro Devanagari Hindi', serif;
}
.font-size{
  font-size: 5;
  color: #f3f4f5;
  font-weight: bold;
}
/* .inputWithIcon input[type=text]{
  padding-left: 40px;
}
.inputWithIcon{
  position: relative;
}
.inputWithIcon i{
  position: absolute;
  left: 0;
  padding: 9px 8px;
  top: 9px;
} */
.marginTop{
  margin-top: 30%;
  
}
/* Input field */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.icon {
  padding: 10px;
  /* background: dodgerblue; */
  color: black;
  min-width: 50px;
  text-align: center;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.input-field:focus {
  border-bottom: 2px solid dodgerblue;
}
.btn-health{
  padding: 5px 5px;
  border-radius: 5px;
  color: white;
  background-color: #30656F;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
}
.btn-healthOne{
   padding: 5px 5px;
  border-radius: 5px;
  color: #30656F;
  background-color: white;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
}

.Contact-form{
  width: 50%;
  height: 50%;
  margin-left: 30%;
  border:  1px solid #E3EEE7;
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;
  
}

.banner-color{
  background-color: #E3EEE7;
}
.hover{
  cursor: pointer;
}
.paddingBottom{
  padding-bottom: 25% !important;
}
.CommunityImage{
  width: 90%;
}

.ImageCard{
  position: relative;
  background-color: #F1B862;
  border-radius: 5px;
}
.Icon{
  position: absolute;
  right: 10px;
  top:10px;
}
.ImageCardTwo{
  position: relative;
  background-color: #62B5F3;
  border-radius: 5px;
}
.IconTwo{
  position: absolute;
  right: 10px;
  top: 10px;
}
.ImageCardThree{
  position: relative;
  background-color: #CB763B;
  border-radius: 5px;
}
.IconPlus{
  position: absolute;
  right: 10px;
  top: 10px;
}
.CardContainerImageOne{
  position: relative;
  background-color: #62B5F3;
  border-radius: 5px;
}
.ContainerPlusIconOne{
  position: absolute;
  right: 10px;
  top: 10px;
}
.CardContainerImageTwo{
  position: relative;
  background-color: #B9B1F0;
  border-radius: 5px;
}
.ContainerPlusIconTwo{
  position: absolute;
  top: 10px;
  right: 10px;
}
.CardContainerThree{
  position: relative;
  background-color: #1DAD96;
  border-radius: 5px;
}
.ContainerPlusIconThree{
  position: absolute;
  top: 10px;
  right: 10px;
}
.LargeTextFont{
  font-size: 30px;
}
.SmallTextFont{
  color: #7b837e;
}
.InvestmentText{
  color: #1DAD96;
}
.InvestmentFont{
  font-size: 17px;
}
/* .ImageWithBackgroundColor{
  background-color: #F5C3C8;
  position: relative;
  z-index: -1;
  
}
.MobilePhoneBackground{
  position: absolute;
  right: 10px;
} */
.MobilePhoneBackground{
  position: relative;
  bottom: 100px;
}
.cardBorderRadius{
  border-radius: 5px;
   background-color: #f3f4f5;
}
.paddingLeftAndRight{
  padding-left: 5%;
  padding-right: 20%;
}
.paddingTopAndBottom{
  padding-top:5%;
  padding-bottom: 5%;
}
.BootCampTextButtonColor{
 color: #30656F;
}
.MoneyAfricaDiscountTextColor{
 color: #828a92;
}
.enrollKidButtonColor{
  color: #1DAD96;
}
.KidsImages{
  width: 100%;
}
.MarginTop{
  margin-top: 30%;
}
.SmallTextFontPrice{
  font-size: 15px;
  color: #7b837e;
}
.SingleCardBorderRadius{
  border-radius: 5px;
}
.BorderLine{
  border-bottom: 2px solid #E5E5E5;
}
.CardPaddingTopAndBottom{
  padding-top: 10%;
  padding-bottom: 10%;
}
.CardPaddingTopAndBottomTwo{
  padding-top: 25%;
  /* padding-bottom: 5%; */
}
.BackgroundImageWidth{
  width: 100%;
  background-size: cover;
}
.PaddingTopForDescription{
  padding-top: 30%;
}
.PaddingTopForDescriptionTwo{
  padding-top: 20%;
}
.PaddingTopForLastDescription{
  padding-top: 16%;

}
.PaddingTopAndLeftForToolsCardButton{
  padding-top: 10%;
  padding-left: 2%;
}
.ToolsCardText{
  color: #1DAD96;
}
.ToolsCardBorderRadius{
  border-radius: 15px !important;
}
.HrLine{
  width: 80%;
  /* height: 50px; */
  position: relative;
  left: 10%;
  border: 1px solid #51807E;
}
.inputText{
  width: 80%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #51807E;
}
.inputText:focus{
 border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  
}
.inputText::placeholder{
  font-weight: bold;
  color: black;
  font-size: 24px;
  font-style: italic;
  font-family: 'Tiro Devanagari Hindi', serif;
}
.InputWithContainer{
  position: relative;
}
.InputTypeDropdownIcon{
  position: absolute;
  top: 1px;
  left: 77%;
}
/* .InputDrop{
  position: absolute;
  top: 5px;
  
} */
.ThirdSectionCardBackground{
  background-color: #ABEAD3;
}
.btnBackgroundColor{
  background-color:  #51807E;
  
}
.ColumnSixBorderRadius{
  border-radius: 5px;
}
.InputTypeChevronDropdownIcon{
  position: absolute;
  right: 20%;
  top: 5%;
}
.DataInput{
  width: 80%;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom: 1px solid #51807E;
}
.DataInput::placeholder{
  font-weight: bold;
  font-family: 'Tiro Devanagari Hindi', serif;
  color: black;
  font-size: 24px;
}
.MoneyAfricaTalkToAnExpertForm{
  margin: auto !important;
  width: 50% !important;
  border: 2px solid #E5E5E5;
  border-radius: 10px;
}
.UserText{
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom:2px solid #E5E5E5;
  outline: none;
}
.InputWithUserIcon{
  position: relative;
}
.UserIcon{
  position: absolute;
  left: -18px;
  top: -15px;
}
.UserMail{
  width: 200%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom:2px solid #E5E5E5;
  outline: none;
}
.FormFontColor{
  color: #7C7C7C;
}
.UserIconArrow{
  position: absolute;
  right: -98%;
  top: -15px;
}
.FormInputPaddingTop{
  padding-top: 40%;
}
.SubmitButton{
  padding-left: 60%;
}
.MoneyAfricaSignUpPage{
  background-color: #5FC8DE;
}
.SignUpFormInput{
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  border-bottom:2px solid #E5E5E5;
}
.AllSignUpInputContainers{
  position: relative;
}
.UserImageIcon{
  position: absolute;
  top: -39%;
}
.SignUpFormInputForEmail{
  width: 200%;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  border-bottom:2px solid #E5E5E5;
}
.PhoneBorder{
  border: 2px solid #E5E5E5;
  width: 46%;
  border-top: none;
  border-right: none;
  border-left: none;
}
.PhoneInput{
   border: 2px solid #E5E5E5;
  /* width: 46%; */
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
}
.PassWordForInput{
  width: 200%;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  border-bottom:2px solid #E5E5E5;
}
.PasswordTextInput{
  position: relative;
}
.InputLockImage{
  position: absolute;
  top: -39%;
}
.InputEyeLockImage{
  position: absolute;
  right: -102%;
  top: -39%;
}
.warningText{
  font-size: 7px;
}
.SignUpFormInputFontColor{
  color: #637170;
}
.SignUpButton{
  width: 80px;
}
.SignUpForm{
  border-radius: 10px !important;
}
.MoneyAfricaSignUpVerification{
  margin: auto;
  width: 50%;
}
.box-1{
  border: 3px solid #E5E5E5;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 50px;
  text-align: center;
  outline: none;
}
.RecieveCodeText{
  color: #7C7C7C;
  font-size: 15px;
}
.ResendTextColor{
  color: #30656F;
  font-weight: bold;
}
.CompleteSignUpButton{
  width: 60%;
  cursor: pointer;
}
.MoneyAfricaSubscribePage{
  margin: auto;
  width: 50%;
}
/* .SubWidth{
  width: 200% !important;
  height: 200%;
  border: 1px solid black;
} */
.TextColorsResetsPasswordEmails{
  color: #637170;
}
.TextColorsResetsPasswordEmailsPaddingRight{
  padding-left: 20%;
}
.TextColorsResetsPasswordEmailsMarginRight{
  margin-left: 20%;
  width: 60%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: #E5E5E5 solid 2px;
}
.TextColorsResetsButtons{
  width: 189px;
  height: 21px;
}
.RememberPasswordText{
  padding-left: 20%;
}
.RememberPasswordTextButton{
  padding-right: 20%;
}
.LoginTextColor{
  color: #30656F;
}
.ResetButtonWidth{
width: 100%;
border-radius: 5px;
border: 1px solid red;
}
.NewPasswordTextPadding{
  padding-left: 20%;
}
.ResetPasswordButtonMargin{
  margin-left: 65%;
}
.ResetPasswordButtonRadius{
  border-radius: 10px;
  border: 1px solid red;
  cursor: pointer;
}
.des-1{
  background-color: #f3f4f5;
}
.DescriptionillusterationBorderRadius{
  border-radius: 5px;
}
.ReconmendedBackgroundColorText{
  background-color: #E3EEE7;
}
.ReconmendedBackgroundColorContent{
  background-color: #1DAD96;
}
.VideoBackgroundColor{
  background-color: #928DDA;
}
.IconAndTextPositioning{
  position: relative;
}
.TextPositioning{
  position: absolute;
  top: 20%;
  left: 150%;
  color: white;
  font-size: 15px;
}
.TextPositionings{
  position: absolute;
  top: 20%;
  left: 150%;
  color: white;
  font-size: 15px;
}
.MoneyAfricaDescriptionTextStandAloneColor{
  color: #B3AFAF;
  font-size: 15px;
}
/* .imgWidth{

} */
.PaddingForFormText{
  padding-left: 30%;
}
.InputFieldForNewLetter{
  width: 50%;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  border-bottom: 2px solid #E5E5E5;
}
.BoxShadow{
  border: 1px solid #E5E5E5;
  border-top: 1px solid #1DAD96;
  box-shadow: 1px 1px;
  border-radius: 5px;
  /* margin: auto; */
}
.BackgroundImageBanner{
  background-image: url("./images/BannerImage.png");
}
.moneyAfricaVideoList{
  background-image: url('./images/RiverBackgroundImage.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.videoListingTextColor{
  color: #B3AFAF;
}
.videoListingTextPaddingLeft{
  padding-left: 10px;
}
.SortVideoListFontSizeTextAndColor{
  font-size: 14px;
  font-weight: bold;
}
.UpdatedTextDate{
    color: #B3AFAF;
    font-size: 12px;
    margin-left: 13px;
}
.cardImagesWithText{
  background-image: url("./images/CardOneImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cardImagesWithBitcoinImageAndText{
  background-image: url("./images/BitcoinImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cardImagesWithMobileMarketChart{
  background-image: url("./images/MobileMarketChart.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cardImagesWithHouseImage{
  background-image: url("./images/CardBackgroundImageBuilding.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cardImagesWithTowerImage{
  background-image: url("./images/CardImageWithTower.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cardImagesWithMaterials{
  background-image: url("./images/CardImageWithMaterials.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cardImagesWithOcean{
  background-image: url("./images/CardImageWithOcean.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cardImagesWithHands{
  background-image: url("./images/CardImageWithHands.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cardImagesWithForest{
  background-image: url("./images/CardBackgroundImageForest.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cardImagesWithWedingEvent{
  background-image: url("./images/CradImageWithWeedingEvent.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cardImagesWithLeafImage{
  background-image: url("./images/CardImageWithLeaf.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.VideoDescriptionCardOne{
  font-size: 12px;
}
.LocWhite{
  padding-right: 10px;
}
.cardImagesBorderRadius{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.CenterMargin{
  margin: auto;
  
}
.centerDiv {
  margin: auto;
  width: 20%;
}
.ActiveButton{
  background-color: rgb(121, 18, 18);
  border-radius: 50px;
  color: white;
  width: 41%;
  height: 14%;
  cursor: pointer;
}
.MargrinShadowWidth{
  width: 170%;
}
.SectionsButton{
  background-color: #E5E5E5;
  border-radius: 10px;
}
.SectionButtonTextSize{
  font-size: 12px;
}
.SectionsButtonColorOne{
  background-color: #ABEAD3;
  border-radius: 10px;
}
.BeginnerTextFontSize{
  font-size: 14px;
  margin-top: 5px;
}
.ArticleTextColorAndWeight{
font-weight: 500;
color: #B3AFAF;
line-height: 36px;
font-size: 24px;
}
.VideoTextColorAndWeight{
  font-weight: 500;
color: #111111;
line-height: 36px;
font-size: 24px;
}
.SortByTextFontSize{
  font-size: 18px;
}
.SortByTextFontWithColor{
  color: #7C7C7C;
}
.MoneyAfricaNotSeenPreviewBannerColors{
  background-color: #E3EEE7;
}
.IntermediateTextFontSize{
  font-size: 16px;
}

.stickerBackgroundColor{
  background-color: #30656F;
}
.TimingFontSize{
  font-size: 18px;
}
.AvatarNameOne{
  font-size: 14px;
  color: #7c7c7c;
}
/* .AvatarNameOneBorderBottom{
  border: 1px solid red;
} */
.stickerBackgroundColor{
  position: relative;
   position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.StickyCardMoneyAfricaCard{
  position: absolute;
  left: 60%;
  top: -40px;
}
.GetStartedTextFontSize{
  font-size: 24px;
}
.StickyCardSignUpButtonColor{
  background-color: #C03E21;
  border: none;
  border-radius: 8px;
}
.StickyCardSignUpButtonTextFontSize{
  font-size: 16px !important;
}
.TermAndUseTextFontSize{
  font-size: 14px;
}
.StickyCardSignUpButtonMarginLeftAndRight{
  margin-left: 20%;
  margin-right: 30%;
}
.StickyCardSignUpTextMarginLeftAndRight{
  margin-left: 30%;
  margin-right: 30%;
}
.TermOfUseTextColor{
  color: #015351;
}
.ChoosePreferredTextFontSize{
  font-size: 32px !important;
}
.ChoosePreferredPlanDescriptionTextFontSizeAndColor{
  font-size: 16px;
  color: #637170;
}
.SelectCardOneBackgroundColor{
  background-color: #f3f4f5;
  border-radius: 8px;
}
.ChooseAPreferredPlayAndATimesIcon{
  position: relative;
}
.PositionTimesIcon{
  position: absolute;
  left: 80%;
  top: -15%;
}
.SubscribeButtonTextSizeAndRadius{
  font-size: 16px;
  border-radius: 8px;
  border:1px solid #111111;
}
.ReconmendedCardBackgroundColorText{
font-size: 14px;
color: #111111;
padding-top: 10px;
}
.ReconmendedCardBackgroundColor{
  background-color: #E3EEE7;
  border-radius: 8px;
}
.ReconmendedCardBackgroundColorChild{
  background-color: #015351;
  border-radius: 8px;
}
.ReconmendedCardBackgroundColorButton{
   background-color: #C03E21;
  border-radius: 8px;
  border: none;
  color: white;
}
.HeaderSubscriptionChooseSubscriptionPlan{
  position: relative;
}
.ChoosePositionTimesIcon{
  position: absolute;
  left: 80%;
}
.FontSizeTypography{
  font-size: 16px;
  color: #111111;
}
.CardBoder{
  border: 1px solid #E5E5E5;
  border-radius: 8px;
}
.ForgetPasswordTextSize{
  font-size: 32px;
  font-weight: 500;
}
.EmailSentMessage{
  font-size: 16px;
  color: #111111;
}
.backgroundColorSentEmailMessageColor{
  background-color: #ABEAD3;
  width: 487px;
height: 75px;
position: relative;
left: 32%;
border-radius: 8px;
}
.CenteredInputFiedDiv{
  margin: auto;
  width: 50%;
}
.EmailAdressTypographFontSizeAndColor{
  font-size: 14px;
  color: #7C7C7C;
}
.RestPasswordInputField{
  width: 100%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #E5E5E5;
}
.RememberPasswordLinkText{
  font-size: 14px;
  color: #637170;
}
.LoginTextColor{
  color: #30656F;
  font-weight: bold;
}
.ResentLinkButton{
   background-color: #C03E21;
   border: none;
   border-radius: 8px;
   color: white;
   font-size: 16px;
}
.IWillDoThisLaterFontColor{
  color: #015351;
  font-size: 16px;
  font-weight: 500;
}
.EnrollKidBackgroundSectionColor{
  background: #F8FAFB;
}
.EnrollYourKidsForSummerBootCamp{
  position: relative;
}
.PositionEnrolChildTimesIcon{
  position: absolute;
  left: 83%;
}
.ChildInformationTextSize{
  font-size: 18px;
  /* font-weight: bold; */
}
.CollapseTextColorAndTextSize{
  color: #C03E21;
  font-size: 14px;
}
.HorizontalLineForColor{
  width: 100%;
  border-bottom: 2px solid #E3EEE7;
}
.ChildButtonRadiusAndColor{
  background: #E3EEE7;
border-radius: 100px;
border: none;
font-size: 14px;
}
.TargetUserIconAndText{
  position: relative;
}
.InputTextFieldPosition{
  position: absolute;
  left: 8%;
  top: 10%;
}
.StylingTextField{
  width: 150%;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  border-bottom: 2px solid #E3EEE7;
}
.TargetUserIconAndTextAndSmallArrowDownIcon{
  position: relative;
}
.InputTextFieldPositionAndArrowDownIcon{
  position: absolute;
   position: absolute;
  left: 8%;
  top: -10%;
}
.StylingTextFieldWithArrowDownIcon{
   width: 150%;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  border-bottom: 2px solid #E3EEE7;
}
.positionArrowDown{
  position: relative;
  left: 150%;
  top: -100%;
}
.InputFieldEdutionStyle{
   width: 209%;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  border-bottom: 2px solid #E3EEE7;
}
.MarginIcon{
  position: relative;
  right: -23rem;
}
.TextInputForGender{
   width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  border-bottom: 2px solid #E3EEE7;
}
.TargetUserIconAndTextLastName{
  position: relative;
}
.InputTextFieldPositionLastName{
  position: absolute;
  left: 4%;
  top: 10%;
}
.InputTextFieldPositionLastNamePosition{
     width: 150%;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  border-bottom: 2px solid #E3EEE7;
}
.MarginFlexDiv{
  margin-left: 43%;
}
.DateOfBirthInputField{
    width: 49%;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  border-bottom: 2px solid #E3EEE7;
}
.MarginMyButtonDiv{
  margin-left: 43%;
}
.AddMoreChildFontAndColor{
  color:  #30656F;
  font-size: 14px !important;
  font-weight: 700;

}
.SaveAndContinueBackgroundColor{
  background-color: #C03E21;
  border-radius: 8px;
  border: none;
  font-size: 14px !important;
  font-family: 700;
}
.ContainerCardBorderRadius{
  border-radius: 8px !important;
  background-color: #FFFF;
  padding-top: 20px;
  padding-bottom: 10%;
  padding-left: 40px;
  padding-right: 20px;
box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.ContainerCardTwo{
    border-radius: 8px !important;
  background-color: #FFFF;
  padding-top: 20px;
  padding-bottom: 10%;
  padding-left: 40px;
  padding-right: 20px;
box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.AddInformationTextStyling{
  font-weight: 500;
  font-size: 18px;
}
.AddInformationStylingDescription{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: normal;
}
.ExpandText{
  color:  #C03E21;
  font-size: 14px;
  font-weight: 500;
}
.ButtonMargin{
  margin-left: 62rem;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
 color: #7C7C7C;
 font-size: 14px;
 line-height: 21px;
 font-family: normal;
}
.PlayVideoBackgroundImage{
  background-image: url('/src/images/MoneyAfricaPlayVideoBackgroundImage.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}
.PlayTextFont{
  font-family: normal;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10%;
}